<section style="padding:10px;">
    <div style="display: flex; flex-direction:row;">
        <div style="padding-right: 30px;">
            <div class="topBar">
                <i class="fa fa-arrow-left back" routerLink="/"></i>
                <div style="font-size: 40px; font-weight: bolder; color: white; width: 300px;">
                    Rahul's Blog
                </div>
            </div>
        </div>
    </div>
    <div class="" style="padding: 30px; display: flex; flex-direction: row; align-items: flex-start; justify-content: center;">
        <mat-card style="height:70vh; overflow-y:scroll; background-color: #ffffff18;">
            <div *ngFor="let blog of blogs" style="padding:15px;">
                <mat-card style="padding:15px; max-width: 70vh;">
                    <mat-card-title>
                        {{blog.title}}
                    </mat-card-title>
                    <mat-card-content style="height: 50%;">
                        <div style="display:flex; flex-direction:row; padding-bottom: 10px;">
                            <span *ngFor="let tag of blog.hashtags" style="padding-right: 5px;">#{{tag}}</span>
                        </div>
                        <div style="display: flex; flex-direction:column;">
                            <p>{{blog.summary}}</p>
                        </div>
                    </mat-card-content>
                    <mat-card-actions align="start">
                        <div style="display: flex; flex-direction:row;">
                            <div style="display: flex; flex-direction:column;">
                                <span style="padding: 0px 0px 5px 5px;"><b>Read time:</b> {{blog.readTime}}</span>
                                <span style="padding: 0px 0px 5px 5px;"><b>Last updated on:</b> {{blog.updatedTime}}</span>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-card>
        <mat-card style="background-color:#ffffff18; margin-left: 50px;">
            <mat-card-title style="color: white;">
                #HashTags
            </mat-card-title>
            <mat-card-content class="hashTagFilter">
                <div *ngFor="let tag of hashTags" (click)="filterBlogList(tag)">
                    <div class="tag">
                        #{{tag}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>