<section class="padding-10">
    <div class="flexDirectionRow">
        <div class="topBar">
            <i class="fa fa-arrow-left back" routerLink="/"></i>
            <div class="titleFont">
                Rahul's Blog
            </div>
        </div>
    </div>
    <div class="flexDirectionRow padding-30 alignContentCenter">
        <mat-card class="blogListCard">
            <div *ngFor="let blog of blogs" class="padding-15">
                <mat-card mat-elevation-z4 class="padding-15 blogCard" [routerLink]="['blogDetailedView',blog.id ,blog.title]">
                    <mat-card-title style="font-size: 30px;">
                        {{blog.title}}
                    </mat-card-title>
                    <mat-card-content>
                        <div class="flexDirectionRow padding-bottom-10">
                            <span *ngFor="let tag of blog.hashtags" class="blogHashTag">#{{tag}}</span>
                        </div>
                        <p class="blogSummary">{{blog.summary}}</p>
                    </mat-card-content>
                    <mat-card-actions align="start">
                        <div class="flexDirectionColumn">
                            <span class="blogMetaData"><span class="fontWeight500">Read time:</span>&nbsp;&nbsp;{{blog.readTime}}</span>
                            <span class="blogMetaData"><span class="fontWeight500">Last updated on:</span>&nbsp;&nbsp;{{blog.updatedTime}}</span>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-card>
        <mat-card class="hasTagCard">
            <mat-card-title class="fontColorWhite">
                #HashTags
            </mat-card-title>
            <mat-card-content class="hashTagFilter">
                <div *ngFor="let tag of hashTags" (click)="filterBlogList(tag)">
                    <div class="tag">
                        #{{tag}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>