<main>
    <div id="landing_page">
        <div class="centerAlignContent">
            <div class="centerAlignItems">
                <div style="display:flex; align-items:center; flex-direction: column; margin-bottom: 30px;">
                    <h1 class="nameStyle">Rahul<span style="color:#F45656;">.</span></h1>
                    <p class="tagStyle">I'm a <span id="replace"></span></p>
                    <div class="iconStyle">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-github"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <button mat-raised-button class="buttonStyle" (click)="openDialog()">Let's be friends</button>
                </div>
                <span></span>
                <div style="display:flex; flex-direction:row;">
                    <div style="display:flex; flex-direction:column;">
                        <a class="routeStyle" routerLink="/aboutme">Know about me</a>
                        <a class="routeStyle" routerLink="/blog">I share my knowledge here</a>
                        <a class="routeStyle" routerLink="/showcase">My Showcase</a>
                    </div>
                    <div style="display:flex; flex-direction:column;">
                        <i class="fa fa-arrow-right routeStyle" routerLink="/aboutme"></i>
                        <i class="fa fa-arrow-right routeStyle" routerLink="/blog"></i>
                        <i class="fa fa-arrow-right routeStyle" routerLink="/showcase"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>