<main>
    <div id="landing_page">
        <div class="centerAlignContent">
            <div class="centerAlignItems">
                <div style="display:flex; align-items:center; flex-direction: column; margin-bottom: 30px;">
                    <h1 class="nameStyle" [ngClass]="{'moblieNameLayout':isMobilePhone}">Rahul<span style="color:#F45656;">.</span></h1>
                    <p class="tagStyle">I'm a <span id="replace"></span></p>
                    <div class="iconStyle">
                        <a class="fa fa-newspaper-o tooltip" routerLink="/blog">
                            <span class="blogTooltiptext">My Blog</span>
                        </a>
                        <a class="fa fa-github" href="https://github.com/Rahul-Ramalingam" target="_blank" rel="noopener noreferrer"></a>
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/rahul-ram-30122000" target="_blank" rel="noopener noreferrer"></a>
                        <a class="fa fa-comment tooltip" (click)="openDialog()">
                            <span class="tooltiptext">Ping Me..!</span>
                        </a>
                    </div>
                    <button mat-raised-button class="buttonStyle" routerLink="/aboutme">More about me &nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
                <!-- <span></span>
                <div style="display:flex; flex-direction:row;">
                    <div style="display:flex; flex-direction:column;">
                        <a class="routeStyle" routerLink="/aboutme">Know about me</a>
                        <a class="routeStyle" routerLink="/blog">Read my blog</a>
                        <a class="routeStyle" routerLink="/showcase">My Showcase</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</main>