.centerAlignContent {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 1;
}

.centerAlignItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.centerAlignItems>span {
    height: 300px;
    width: 5px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 99px;
    margin: 0 20px;
}

.nameStyle {
    color: white;
    font-weight: bolder;
    position: relative;
    font-size: 54px;
}

.tagStyle {
    color: #ffffff;
    margin-top: -25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 18px;
}

.iconStyle {
    display: flex;
    flex-direction: row;
}

div.iconStyle>i {
    color: white;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-size: 32px;
}

div.iconStyle>i:hover {
    color: #FF9900;
    cursor: pointer;
    transition: 0.5s;
}

i {
    color: white;
}

.buttonStyle {
    background-color: #D43546;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
}

.buttonStyle:hover,
.buttonStyle:focus {
    background-color: #FF9900;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.routeStyle {
    text-decoration: none;
    color: #ffffff;
    margin-top: -25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 50px;
}

.routeStyle:hover,
.routeStyle:focus {
    text-decoration: none;
    color: #ffb340;
    cursor: pointer;
    transition: 0.5s;
}