<section style="padding:10px;">
    <mat-card style="margin:50px; background-color: #ffffff18; border-radius: 20px;">
        <mat-card-title style="color: white; margin-left: 15px;">
            <h3>Projects Showcase</h3>
        </mat-card-title>
        <mat-card-content style="display: flex; flex-direction: row; overflow-x: scroll; padding-bottom: 15px;">
            <mat-grid-list cols="1" *ngFor="let project of projects">
                <mat-card class="settings-card">
                    <mat-card-title>
                        {{project.projectName}}
                    </mat-card-title>
                    <mat-card-content style="height: 50%;">
                        {{project.description}}
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button class="buttonStyle" mat-raised-button (click)="openDialog(project.id)">Read More</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>